* {
    font-family: Calibri, sans-serif;
}

h1 {
    text-align: center;
}

.collection {
    width: 95%;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
}

@media (max-width: 600px) {
    .collection {
        justify-content: center;
    }
}

.book {
    width: 24rem;
    background-color: #e8dfc2;
    border: 0.2rem solid #000000;
    display: grid;
    grid-template-rows: 1fr repeat(3, auto);
    grid-template-columns: 24rem;
}

.book-image {
    height: 25rem;
    width: auto;
    margin: 1rem auto;
}

.book-head-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 3fr 1fr;
}

.book-details-container {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.align-right {
    text-align: end;
}

.book-hr {
    width: 60%;
}

.book-detail {
    text-align: center;
}

.title {
    font-weight: bold;
}

a {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    color: #000000;
}

#addition {
    /*width: 90%;*/
    justify-content: center;
    align-content: center;
    padding-bottom: 2rem;
}

input {
    padding: 0.3rem;
    margin: 0.2rem 0;
    border: 0;
    box-shadow: 0 0 1rem 0.25rem #0000000f;
    border-radius:10px;
    width: 100%;
}

label {
    width: 50%;
    margin-top: 0.6rem;
    display:block;
}

select {
    width: 100%;
    padding: 0.3rem;
    border-radius: 10px;
}

#submit {
    margin-top: 2rem;
}

#range {
    align-items: center;
    width: 100%;
}

form {
    width: 100%;
    padding: 1rem;
}
